
<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu">
   
            <li>
                <a asp-controller="Saler" asp-action="SalerProduct"><i class="fa fa-dashboard fa-fw nav_icon"></i>Product</a>
            </li>  
         

                </ul>
                <!-- /.nav-second-level -->
            </li>
        </ul>
    </div>
    <!-- /.sidebar-collapse -->
</div>